.category-list {
    
    li>ul{
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity .2s, max-height .2s;
    }
    li>a.active+ul {
        max-height: 100%;
        opacity: 1;
    }
    
}
