.comment-child {
    margin-left: 50px;
}

.comment-open-btn {
    cursor: pointer;
}
.reply{
    display: inline-block;
    border: 1px solid #000;
    padding: 0 3px;
    margin: 3px 0;
    border-radius: 5px;
}

